.red {
    color:red;
}

#green {
    color:green;
}

.redbox100px {
    width:100px;
    height:100px;
    background-color:red;
}

.orangebox200px {
    width:200px;
    height:200px;
    background-color:orange;
}


    /*  以下是文字垂直居中的演示 */
.mikubox {
    height: 100px;
    background-color: #39c5dd;
    line-height: 100px;
}
    /* 字体控制相关
    font—size 控制字体大小，需要使用px作为单位
    font-weight 控制字体粗细，正常400，加粗700
    font-style 控制字体样式，正常normal，斜体italic
    line-height 控制行高 数字+px为直接设置 只用数字代表几倍行距
    font-family 控制字体族 */
    /* font复合属性，可以全部写在一行里面 */
    /* text-indent 控制首行缩进 */
    /* text-align 控制文本对齐方式  left,center right */